.task-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        margin-bottom: 20px;

        h1 {
            font-family: Inter;
            font-weight: 600;
            font-size: 26px;
            margin: 0;
        }

        .add-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                border: none;
                color: #fff;
                background-image: linear-gradient(30deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
                border-radius: 20px;
                background-size: 100% auto;
                font-family: inherit;
                font-size: 17px;
                padding: 0.6em 1.5em;
                
                &:hover {
                    background-position: right center;
                    background-size: 200% auto;
                    -webkit-animation: pulse 2s infinite;
                    animation: pulse512 1.5s infinite;
                }
                   
                @keyframes pulse512 {
                    0% {
                        box-shadow: 0 0 0 0 rgba(252,120,54,1);
                    }
                    70% {
                        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
                    }
                    100% {
                        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
                    }
                }
            }   
        }
    }

    th, td {
        font-family: Inter;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.table-container {
    width: 70%;

    @media screen and (max-width: 992px) {
        width: 95%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        width: 80%;
    }
}