<section class="main-section">
  <div class="hero-content container">
    <div class="hero-text">
      The Assessment Test Given by <br class="line-break"><span style="color: rgb(255, 115, 0)">Data Capture Expert</span>
    </div>
    <button (click)="viewAssessment()">
      <span class="circle1"></span>
      <span class="circle2"></span>
      <span class="circle3"></span>
      <span class="circle4"></span>
      <span class="circle5"></span>
      <span class="text">View Task</span>
    </button>
  </div>

  <img class="hero-img" src="../../assets/blog.png" alt="">
</section>